<div class="container">
    <div class="row" style="display: flex; flex-direction: column; flex-wrap: wrap;">
        <h1 style="text-align: center;">Tu imagen</h1>
        <div class="d-flex p-2 align-self-center" >
            <img src="{{../host}}/getImage" width="600" height="500">
        </div>
    </div>

</div>