<div class="myDiv" style="margin: 20px">
    <h1>Comparte una imagen</h1>
    <form action="/addImage" method="POST" enctype="multipart/form-data" >
        <div class="custom-file">
            <input class="custom-file-input" type="file" name="image" id="fileField">
            <label for="fileField" class="custom-file-label">Selecciona imagen</label> 
        </div>
        <button type="submit" class="btn btn-success btn-block btn-large">COMPARTIR</button>
    </form>
</div>